{% extends 'main/layout/base.html' %}

{% block title %} Активация выполнена {% endblock %}
{% block content %}
    <section class="pb-10 text-center">
        <div class="container">
            <p class="fs-4">Активация</p>
            <div class="container d-flex flex-row justify-content-center justify-content-center justify-content-center justify-content-center justify-content-center justify-content-lg-center">
                <div class="col-lg-7 col-sm-11 col-xl-7 col-xxl-7 d-lg-block d-md-block d-block d-sm-block d-xl-block d-xxl-block m-2 pb-3 pt-3 text-start">
                    <p class="fs-5">Пользователь с таким именем успешно активирован</p>
                    <p>
                        <a class="border btn btn-primary m-2" href="{% url 'account:login' %}">Войти на сайт</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}