<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Главная{% endblock %} - Доска
        объявлений</title>
    </head>
    <body class="container-fluid">
    <ul>
        {% if user.is_authenticated %}
            <li><a href="{% url 'account:account' %}">{{ user.username }}</a></li>
            <li><a href="{% url 'account:account_change' %}">Изменить личные данные</a></li>
            <li><a href="{% url 'account:password_change' %}">Изменить пароль</a></li>
            <li><a href="{% url 'account:logout' %}">Выйти</a></li>
        {% else %}
            <li><a href="{% url 'account:register' %}">Регистрация</a></li>
            <li><a href="{% url 'account:login' %}">Войти</a></li>
        {% endif %}
    </ul>
        {% block content %}
        {% endblock %}

    </body>
</html>
