{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="author" content=""/>
{#        <title>{{title}}</title>#}
        <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap_theme.css' %}"  type="text/css"/>
        <link rel="stylesheet" href="{% static 'css/blocks.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        <title>{% block title %}Главная{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body class="fw-light text-secondary bg-body d-flex flex-column justify-content-between">
        <header class="m-4">
            <nav class="bg-white navbar navbar-expand-lg navbar-light py-lg-1">
                <div class="container">
                    <a class="fw-bold navbar-brand text-primary m-2" href="{% url 'main:index' %}" target="">YouDeo</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown-3" aria-controls="navbarNavDropdown-3" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon" style="border-style: none;"></span>
                    </button>
                    <div class="collapse d-xxl-flex justify-content-end navbar-collapse" id="navbarNavDropdown-3">
                        {% if user.is_authenticated %}
                            <a class="btn btn-primary m-2 ms-lg-3" href="{% url 'main:feed' %}">Лента</a>
                        {% endif %}
                        <a class="btn btn-primary m-2 ms-lg-3" href="{% url 'main:search' %}">Поиск</a>
                        {% if user.is_authenticated %}
<!--                            <a class="btn btn-primary m-2 ms-lg-3" href="#">Сообщения</a>-->
                            <a class="btn btn-primary m-2 ms-lg-3" href="{% url 'account:account' %}">Профиль</a>
                        {% else %}
                            <a class="btn btn-primary m-2 ms-lg-3" href="{% url 'account:login' %}">Войти</a>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </header>


        {% block content %}
        {% endblock %}


        <div>
            <svg viewbox="0 0 100 100" preserveaspectratio="none" fill="currentColor" version="1.1" xmlns="http://www.w3.org/2000/svg" height="64" width="100%" class="d-block text-dark">
                <path d="M 100 100 V 0 L 0 100"/>
            </svg>
            <footer class="bg-dark pt-5 text-white">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 py-3"> <a href="#" class="d-inline-block fw-bold h2 link-light mb-4 text-decoration-none" target>YouDeo</a>
                            <p class="mb-3">Объединение мастеров готовых творить !!!!!!!!!!!!!!!</p>
                            <div class="mb-4">
                                <a href="#" class="link-light text-decoration-none">hello@company.com</a>
                            </div>
                        </div>
                    </div>
                    <div class="pb-3 pt-3 small">
                        <hr class="border-secondary mt-0"/>
                        <div class="align-items-center row">
                            <div class="col-md pb-2 pt-2">
                                <p class="mb-0">&copy; 2022 | All Rights Reserved - OOO "РИС СОВА"</p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <script src="{% static 'js/popper.js' %}"></script>
        <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/mask/imask.js' %}"></script>
        <script src="{% static 'js/modal/focus.js' %}"></script>
        <script src="{% static 'js/javascript.js' %}"></script>


    </body>
</html>
