{% extends 'main/layout/base.html' %}
{% load thumbnail %}
{% load static %}
{% block title %} Поиск {% endblock %}
{% block content %}
    <section>
        <div class="container">
            <div class="">
                <div class="d-flex flex-row justify-content-evenly mb-4">
                    <form class="d-flex flex-row w-100" onsubmit="return false;">
                        <input type="text" class="form-control me-2" required="" id="text_search">
                    </form>
                </div>
                <div class="align-items-start d-flex d-lg-flex d-md-flex d-sm-flex d-xl-flex d-xxl-flex flex-column flex-lg-row flex-md-row flex-sm-column flex-xl-row flex-xxl-row m-3s" data-pg-collapsed>
                    <div class="d-flex d-lg-flex d-md-flex d-sm-flex d-xl-flex d-xxl-flex flex-lg-column flex-md-column flex-row flex-sm-row flex-xl-column flex-xxl-column me-3 nav nav-pills" role="tablist" aria-orientation="vertical" id="btn_group" data-btn_group_value="btn_all">
                        <input class="border btn btn-primary m-2 active" id="btn_all" type="submit" value="Все" data-bs-toggle="pill" href="#all" role="tab" aria-controls="all" aria-selected="true">
                        <input class="border btn btn-primary m-2" id="btn_account" type="submit" value="Люди" data-bs-toggle="pill" href="#people" role="tab" aria-controls="people" aria-selected="false">
                        <input class="border btn btn-primary m-2" id="btn_master" type="submit" value="Мастера" data-bs-toggle="pill" href="#masters" role="tab" aria-controls="masters" aria-selected="false">
                        <input class="border btn btn-primary m-2" id="btn_post" type="submit" value="Посты" data-bs-toggle="pill" href="#posts" role="tab" aria-controls="posts" aria-selected="false">
                        <input class="border btn btn-primary m-2" id="btn_service" type="submit" value="Объявления" data-bs-toggle="pill" href="#service" role="tab" aria-controls="service" aria-selected="false">
                    </div>
                    <div class="tab-content w-100" id="filters">
                        <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                        </div>
                        <div class="tab-pane fade" id="people" role="tabpanel" aria-labelledby="people-tab">
                            <p>--------filters_account-----------</p>
                            <div id="filters_account">
                                <p>
                                    <label for="filters_account_location">Регион:</label>
                                    <input type="text" class="form-control" required="" id="filters_account_location">
                                </p>
                                <p>
                                    <label for="filters_account_id_gender">Пол:</label>
                                    <select name="filters_account_gender" class="form-control" required="" id="filters_account_id_gender">
                                        <option value="">---------</option>
                                        <option value="m">мужской</option>
                                        <option value="w">женский</option>
                                    </select>
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="masters" role="tabpanel" aria-labelledby="masters-tab">
                            <p>--------filters_master-----------</p>
                            <div id="filters_master">
                                <p>
                                    <label for="filters_master_id_location">Регион:</label>
                                    <input type="text" class="form-control" required="" id="filters_master_id_location">
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                            <p>--------filters_post-----------</p>
                                <div id="filters_post">

                                </div>
                        </div>
                        <div class="tab-pane fade" id="service" role="tabpanel" aria-labelledby="service-tab">
                            <p>--------filters_service-----------</p>
                            <div id="filters_service">
                                <p>
                                    <label for="filters_service_id_service_category">Категория объявления:</label>
                                    <select name="filters_service_service_category" class="form-control" required="" id="filters_service_id_service_category">
                                        <option value="">---------</option>
                                        {% for service_category in service_categorys %}
                                            <option value="{{ service_category.slug }}">{{ service_category.name }}</option>
                                        {% endfor %}
                                    </select>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <p>
        </p>



<!--        <div id="filters">-->




<!--        </div>-->

    <div id="result_search">
        <div id="result_account">

        </div>
        <div id="result_master">

        </div>
        <div id="result_post">

        </div>
        <div id="result_service">

        </div>
    </div>
    </section>

    <script src={% static 'search/js/search.js' %}></script>
{% endblock %}

