{% extends 'main/layout/base.html' %}

{% block content %}

    <div class="align-items-lg-center container d-lg-flex flex-lg-column">
            <div class="col-md-12">
                <div class="d-md-flex d-xxl-flex">
                    <input class="form-control m-1" placeholder="Поиск..."/>
                    <select class="form-select m-1" aria-label="Default select example">

                        <option value="all_category" selected >Все категории</option>
{#                        {% for sc in service_category %}#}
{#                            <option value="{{ sc.slug }}">{{ sc.name }}</option>#}
{#                        {% endfor %}#}
                    </select>
                    <select class="form-select m-1" aria-label="Default select example">
                        <option selected>Все города</option>
                        <option value="chita">Чита</option>
                        <option value="moscow">Москва</option>
                        <option value="ircutsc">Иркутск</option>
                    </select>
                    <button class="btn btn-primary m-1">Поиск</button>
                </div>
            </div>
        </div>
        <section class="text-center">
            <div class="container">

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="service-tab" data-bs-toggle="tab" data-bs-target="#service" type="button" role="tab" aria-controls="service" aria-selected="true">Объявления</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="masters-tab" data-bs-toggle="tab" data-bs-target="#masters" type="button" role="tab" aria-controls="masters" aria-selected="false">Мастера</button>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">

                <div class="tab-pane fade show active" id="service" role="tabpanel" aria-labelledby="service-tab">
                    service
                </div>

                <div class="tab-pane fade" id="masters" role="tabpanel" aria-labelledby="masters-tab">
                    masters
                </div>

            </div>


                <div class="row pt-4">

                    <div class="col-12 col-lg-4 col-md-6 col-sm-6 col-xl-4 col-xxl-3 pt-4">
                        <div class="border rounded-bottom h-100">
                            <div class="card-body d-flex flex-column h-100 justify-content-between p-0">
                                <div class="text-center">
                                    <div class="box-user">
                                        <a href="#">
                                            <img src="https://pinegrow.com/placeholders/img13.jpg"/>
                                        </a>
                                    </div>
                                    <a href="#" class="fs-6 link-primary display-block text-dark">Стрижка бороды для настоящих мужчин</a>
                                </div>
                                <div class="text-center">
                                    <p class="fs-6 text-decoration-none text-dark">1500 &#8381;</p>
                                    <p class="fs-6 text-decoration-none">г. Чита</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
{% endblock %}
