body{
    background-image: repeating-radial-gradient(circle at left, rgba(255, 255, 255, 0.2) 0%, rgb(247, 247, 247) 60%) !important;
    background-attachment: fixed;
}

.proportions-box-square {
    position: relative;
    padding: 100% 0 0 !important;
    height: 0;
}

.proportions-box-content {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.background-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.background-left-top {
    background-position: left top;
}

.background-left-center {
    background-position: left center;
}

.background-left-bottom {
    background-position: left bottom;
}

.background-right-top {
    background-position: right top;
}

.background-right-center {
    background-position: right center;
}

.background-right-bottom {
    background-position: right bottom;
}

.background-center-top {
    background-position: center top;
}

.background-center-center {
    background-position: center center;
}

.background-center-bottom {
    background-position: center bottom;
}

.border-width-1 {
    border-width: 1px !important;
}

.border-width-2 {
    border-width: 2px !important;
}

.border-width-3 {
    border-width: 3px !important;
}

.border-width-4 {
    border-width: 4px !important;
}

.border-width-6 {
    border-width: 6px !important;
}

.border-width-8 {
    border-width: 8px !important;
}

.border-width-12 {
    border-width: 12px !important;
}

.border-width-16 {
    border-width: 16px !important;
}

.border-width-24 {
    border-width: 24px !important;
}

.image-fit {
    object-fit: contain;
    object-position: center center;
}

.image-fit-left-top {
    object-position: left top;
}

.image-fit-left-center {
    object-position: left center;
}

.image-fit-left-bottom {
    object-position: left bottom;
}

.image-fit-right-top {
    object-position: right top;
}

.image-fit-right-center {
    object-position: right center;
}

.image-fit-right-bottom {
    object-position: right bottom;
}

.image-fit-center-top {
    object-position: center top;
}

.image-fit-center-center {
    object-position: center center;
}

.image-fit-center-bottom {
    object-position: center bottom;
}

.transition {
    transition: all 0.25s ease-in;
}

.transition-slow {
    transition: all 0.5s ease-in;
}

.transition-very-slow {
    transition: all 1s ease-in;
}

.line-height-1 {
    line-height: 1 !important;
}

.opacity-100 {
    opacity: 1 !important;
}

.opacity-85 {
    opacity: 0.85 !important;
}

.opacity-75 {
    opacity: 0.75 !important;
}

.opacity-50 {
    opacity: 0.50 !important;
}

.opacity-25 {
    opacity: 0.25 !important;
}

.opacity-0 {
    opacity: 0 !important;
}

/* Мои */
.btn-primary {
    border-color: #f3f2f5;
    color: #000000;
    font-weight: 500;
    background-color: #f3f2f5;
}

.btn-primary:active {
    color: black;
    background-color: white;
    border-color: white;
}

.btn-primary:focus,
.btn-primary:hover {
    color: #1c1f23;
    background-color: #F3F2F5 !important;
    border-color: rgb(193, 193, 193) !important;
    /* border-color: #0d6efd !important; */
}

.btn-primary:disabled, .btn-primary.disabled {
    color: white;
    background-color: #F3F2F5 !important;
    border-color: rgb(193, 193, 193) !important;
    }

.btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%), 0 0 0 0.3rem rgba(232, 232, 232, 0.5) !important;
}

.btn:focus,
.btn-primary:focus,
.form-select:focus,
.form-control:focus{
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%), 0 0 0 0.3rem rgba(232, 232, 232, 0.5) !important;
}

.navbar-light .navbar-toggler {
    color: white;
}

.fs-7 {
    font-size: 12px;
}

.carousel-inner .carousel-item.active,.carousel-inner .carousel-item-next,.carousel-inner .carousel-item-prev{display:flex}
.carousel-inner .carousel-item-right.active,.carousel-inner .carousel-item-next{transform:translateX(25%)}
.carousel-inner .carousel-item-left.active,.carousel-inner .carousel-item-prev{transform:translateX(-25%)}
.carousel-inner .carousel-item-right,.carousel-inner .carousel-item-left{transform:translateX(0)}

.pb-10{
    padding-bottom: 11rem !important;
}

.form-control-user label{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}


.form-control-user input{
    margin-top: 0.5rem !important;

    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 1rem;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control-user input:focus{
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%), 0 0 0 0.3rem rgba(232, 232, 232, 0.5) !important;
    color: #212529;
    background-color: white;
    border-color: #86b7fe;
    outline: 0;
}

.form-control-user label{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}


.form-control-user input{
    margin-top: 0.5rem !important;

    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 1rem;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control-user input:focus{
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%), 0 0 0 0.3rem rgba(232, 232, 232, 0.5) !important;
    color: #212529;
    background-color: white;
    border-color: #86b7fe;
    outline: 0;
}

.form-check-input-user ul li label input{
    border-radius: .25em;

    float: left;
    margin-left: -1.5em;

    width: 1em;
    height: 1em;
    margin-top: .25em;
    vertical-align: top;
}

.form-check-input-user ul li label input:focus{
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%), 0 0 0 0.3rem rgba(232, 232, 232, 0.5) !important;
    color: #212529;
    background-color: white;
    border-color: #86b7fe;
    outline: 0;
}

.account-master-user:hover{
    background: #f3f2f5;
}

.box-user{
    position: relative;
    overflow:hidden;
    width: 100%;
    height: 300px;
}

.box-user img {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:100%;
    height:300px;
    min-width:200px;
    object-fit:cover;
    transition: height 1.5s;
}

.box-user img:hover{
    height:350px;
}

.box-service-user{
    position: relative;
    overflow:hidden;
    width: 100%;
    height: 400px;
}

.box-service-user img{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:100%;
    height:400px;
    min-width:200px;
    object-fit:cover;
    transition: height 1.5s;
}

#modalImageAccount .modal-dialog{

}


@media (min-width: 1000px) {
    width: 100%;
}

.login-user input{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 1rem;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.login-user input:focus{
    color: #212529;
    background-color: white;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%), 0 0 0 0.3rem rgba(232, 232, 232, 0.5) !important;
}

.link-search-user{
    padding: 1rem;
    color: #1c1f23;
    background-color: #F3F2F5 !important;
    border-color: rgb(193, 193, 193) !important;
}

.img-modal-user{
    max-height: 31em !important;
}

.one-post-user{
    height:40em !important;
    width:50em !important;
}

.one-post-user .post-top-user{
    height:10%
}

.one-post-user .post-image-user{
    height:90%
}

.link-search-user{
    padding: 1rem;
    color: #1c1f23;
    background-color: #F3F2F5 !important;
    border-color: rgb(193, 193, 193) !important;
}

.img-modal-user{
    max-height: 31em !important;
}

.one-post-user{
    height:40em !important;
    width:50em !important;
}

.one-post-user .post-top-user{
    height:10%
}

.one-post-user .post-image-user{
    height:90%
}

.footer-user{
    position: absolute;
    width: 100%;
}

.header_fixed{
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header_fixed{
    position: fixed;
    width: 100%;
    z-index: 100;
}

.body_padding{
    padding-top: 100px !important;
}
.header_fixed{
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header_fixed{
    position: fixed;
    width: 100%;
    z-index: 100;
}

.body_padding{
    padding-top: 100px !important;
}

.rounded-circle{
    object-fit: cover;
}

.pre-description-user {
   white-space: pre-wrap;       /* css-3 */
   white-space: -moz-pre-wrap;  /* Mozilla, с 1999 года*/
   white-space: -pre-wrap;      /* Opera 4-6 */
   white-space: -o-pre-wrap;    /* Opera 7 */
   word-wrap: break-word;       /* Internet Explorer 5.5+ */
}