{% extends 'main/layout/base.html' %}

{% block title %} Мастера {% endblock %}
{% block content %}

    <section>
         <div class="col-lg-12 col-sm-12 col-xl-12 pb-3 pt-3">
            <div class="container p-2">
            <h2> Мастера </h2>

                {% for master in masters %}
                    <div class="container p-3">
                        <div class="border m-2 p-4">
                            <h3 class="fw-normal h5 text-dark">{{ master.name }}</h3>
                            <img src="https://pinegrow.com/placeholders/img16.jpg" width="300" height="200" class="m-2"/>
                            <p>{{ master.description }}</p>
                            <span class="border-bottom btn btn-primary d-inline-block">
                                <a class="link-dark text-decoration-none" href="{{ master.get_absolute_url }}">Профиль</a>
                            </span>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>

{% endblock %}